<?xml version="1.0" encoding="utf-8"?>
<!--
	Optionally copy this file to your repository root, so that 
	all nuget packages are installed to the same location, regardless 
	of the solution location in your repository tree.
 -->
<configuration>
	<config>
		<add key="repositoryPath" value="packages" />
	</config>
</configuration>